{%  extends 'base.html.twig' %}

{%  form_theme requestForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
{% set bg_color = '#eaeaea' %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" style="width: 100%; height: 545px" src="{{ asset('https://i1.wp.com/handscollab.com/wp-content/uploads/2018/09/Artisan-ponce-tabouret.jpg?fit=1772%2C1181&ssl=1') }}" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-center" style="top : 110px;height: 60%;background-color: rgba(0,0,0,0.6)">
                    <div>
                        <h1 >Vos demandes de devis</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #eaeaea;padding: 50px">
        <div style="margin-left: 300px; margin-right: 300px">

            {{ form_start(requestForm) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(requestForm.user.name) }}</div>
                <div class="col-md-6">{{ form_row(requestForm.user.firstname) }}</div>
            </div>

            <div class="row">
                <div class="col-md-6">{{ form_row(requestForm.user.number) }}</div>
                <div class="col-md-6">{{ form_row(requestForm.user.address) }}</div>
            </div>

            {{ form_widget(requestForm) }}
            <div align="center" style="margin-bottom: 50px">
                <button type="submit" class="btn btn-success" ; style="background-color: #e7d2c4">Proposer un devis</button>
            </div>

            {{ form_end(requestForm) }}
        </div>


    </div>

{% endblock %}