{% extends 'base.html.twig' %}
{% form_theme CandidateForm 'bootstrap_4_layout.html.twig' %}
{% form_theme ApplicationForm 'bootstrap_4_layout.html.twig' %}
{% block title 'Nos Offres' %}

{% block body %}

{{ encore_entry_link_tags('offer') }}



    <div class="jumbotron text-center">
        <h1>Nos Offres</h1>
        <h2>Les Offres toujours d'actualités</h2>
        <div class="row flex">
            {% for offre in offres %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">{{ offre.title }}</a>
                            </h5>
                            <p class="card-text">{{ offre.content }} </p>
                            <div class="text-primary">{{ offre.createdAt|date('d/m/Y') }}</div>
                            <button id="BtnInfo{{ loop.index }}" class="btn btn-success">Lire plus</button>
                            <div id="OfferModal{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h1> {{ offre.title }}</h1>
                                    <div id="OfferContent" class="card">{{ offre.content}}</div>
                                    <br/>
                                    <p align="left"> Du :{{ offre.beginAt | date('d/m/Y')}} au :{{ offre.endAt | date('d/m/Y') }}</p>
                                    <p align="left">Offre d'emploi créé le :{{ offre.createdAt | date('d/m/Y') }}</p>
                                    <button id="BtnCandidate{{ loop.index }}" class="btn btn-success">Postuler</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
            <div id="CandidateModal" class="modal">
                <div class="modal-content">
                    <h2 id="CandidateTitle"> Remplissez le formulaire pour l'offre !</h2>
                    {{ form_start(CandidateForm) }}

                    {{ form_end(CandidateForm) }}
                    {{ form_start(ApplicationForm) }}
                    {{ form_end(ApplicationForm) }}
                    <button type="submit" class="btn btn-success">Postuler</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="map"></div>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw1ekYuDesZlOCLckgm8uZ9WH96ZtXQsA&callback=initMap">
        </script>
    </div>

{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('offer') }}

     <script>

         window.onload = function initMap() {
             // The location of Uluru
             var uluru = {lat: 48.144679, lng: -0.117047};
             // The map, centered at Uluru
             var map = new google.maps.Map(
                 document.getElementById('map'), {zoom: 11, center: uluru});
             // The marker, positioned at Uluru
             var marker = new google.maps.Marker({position: uluru, map: map, title: "ABC Legermain"});
         };

         var modalCandidate = document.getElementById("CandidateModal");
         {% for offre in offres %}

         var modal{{ loop.index }} = document.getElementById("OfferModal{{ loop.index }}");
         var btn{{ loop.index }} = document.getElementById("BtnInfo{{ loop.index }}");
         var btnCandidate{{ loop.index }} = document.getElementById("BtnCandidate{{ loop.index }}");
         var openModal;

         btn{{ loop.index }}.onclick = function () {
            openModal = modal{{ loop.index }};
            modal{{ loop.index }}.style.display = "block";
         };


         btnCandidate{{ loop.index }}.onclick = function () {
             modal{{ loop.index }}.style.display = "none";
             modalCandidate.style.display = "block";
             document.getElementById("CandidateTitle").innerHTML="Remplissez le formulaire pour l'offre {{ offre.id }} !";
         };

         window.onclick = function(event) {
             if (event.target === openModal) {
                 openModal.style.display = "none";
             }
             if(event.target === modalCandidate) {
                 modalCandidate.style.display = "none";
             }z
         };



         {% endfor %}

     </script>

 {% endblock %}
