{% extends 'base.html.twig' %}



{% block title %}ABC Legermain, une main d'oeuvre de qualité.{% endblock %}


{% block body %}

{{ encore_entry_link_tags('accueil') }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <div style="max-width:100%;overflow-x:hidden;">


            <div><img src="http://www.gsfdcy.com/data/img/34/1510311-furniture-wallpaper.jpg" width="100%"
                      height="10%"/>
                <div style="position:absolute;top:160px; width:100%; height:150%; z-index:2;font-size:100%;text-align:center">
                    <div class="carousel-caption text-center"
                         style="top : 110px;height: 25%;background-color: rgba(0,0,0,0.6)">
                        <div>
                            <h1 style="font-size: 50px;color: rgba(255,168,74)">ABC Legermain, un gage de qalité</h1>
                            <div style="position:absolute;top:100px;font-size:100%;color:#FFD5A7;text-align:center">
                                <p>Le Germain est au carrefour du meilleur de la rive gauche, entre les galeries de la
                                    rue de Seine, du marché de Buci, des cinémas d'Odéon, et des boutiques de
                                    Saint-Germain-des-Prés. Brassant les cultures comme l'architecte d'intérieur india
                                    Mahddavi a pu brasse les styles et les couleurs, créant un lieu atypique, affirmant
                                    haut et fort sa différence, avec également la grande statue signée par l'artiste
                                    Xavier Veilhan, qui traverse et illumine l'espace.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
            <!-- Accordéon -->

  <div class="card">
      <div class="card-body">

              <div class="accordian">
                  <ul>
                      <li>
                          <div class="image_title">
                              <a href="{{ path('charpente') }}">Nos charpentes</a>
                          </div>
                          <a href="{{ path('charpente') }}">
                              <img src="https://images.squarespace-cdn.com/content/v1/52d35389e4b0ed895b7f88e6/1538612081207-LY4Z3OE58OSUUCMGQKZR/ke17ZwdGBToddI8pDm48kLlQSdggvCOv1JxHTELgzux7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UVmz9HMzy4m_uA2-FQHOSe3LFipN8ra6kuxeL-ggTvjXzhM-Sjnu6G9qv44EQ4jJbQ/A-Frame_2.jpg?format=1500w"/>
                          </a>
                      </li>
                      <li>
                          <div class="image_title">
                              <a href="{{ path('couverture') }}">Nos couvertures</a>
                          </div>
                          <a href="{{ path('couverture') }}">
                              <img href="href="{{ path('couverture') }}" src=" https://www.residencestyle.com/wp-content/uploads/2018/12/image001.jpg"/>
                          </a>
                      </li>
                      <li>
                          <div class="image_title">
                              <a href="{{ path('ouvrage') }}">Ouvrages spécifiques</a>
                          </div>
                          <a href="{{ path('ouvrage') }}">
                              <img src="https://s3-ap-southeast-2.amazonaws.com/ish-oncourse-scc/705e7bb7-b7ae-4c8c-946c-fa2fc322bfb2"/>
                          </a>
                      </li>

                  </ul>
                  
          </div>
    {% for actualite in actualites %}
        <div class="w3-container">
            <div class="w3-card-4" style="width: 50%;margin-left: auto;margin-right: auto">
                <header class="w3-container w3-red">
                    <h1>{{ actualite.title }}</h1>
                </header>
                <div class="w3-container">
                    <p> {{ actualite.content }}</p>
                </div>
                <footer class="w3-container w3-red">
                    <h5> {{ actualite.publishAt | date('d/m/Y')}}</h5>
                </footer>

            </div>

        </div>

        <br/>
    {% endfor %}
      </div>
  </div>


{% endblock %}

 {% block javascripts %}

     {{ encore_entry_script_tags('accueil') }}
 {% endblock %}
