<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Legermain</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('charpente') }}">Charpente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('couverture') }}">Couverture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ouvrage') }}">Ouvrages spécifiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Devis</a>
            </li>

        </ul>

    </div>
</nav>
<div class="sidebarre"></div>



<div class="Container">
    {% block body %}{% endblock %}
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<div class="card ">
    <div class="sidebarre"></div>
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 ">


        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nous trouver!</h5>
                    <p class="lead">

                    <div class="mapouter" width="100%" position="right">
                        <div class="gmap_canvas"><iframe width="500" height="400" id="gmap_canvas " position="center"
                                                         src="https://maps.google.com/maps?q=Universit%C3%A9%20de%20Tours&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                                         frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" marginleft="50">
                            </iframe><a href="https://www.couponflat.com"></a></div>
                        <style>.mapouter{position:relative;text-align:left;height:400px;width:400px;}
                            .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
                        </style>
                    </div>
                    </p>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Adresse</h5>
                    <p>Zone artisanale</p>
                    <p>72140 Rouez en Champagne</p>
                    <p>02 47 36 70 34</p>


                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Label</h5>



                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->


        <hr>

        <!-- Social buttons -->
        <!-- Social buttons -->
        <div class="social" align="center"style="font-size: 40px">

            <h5> Nous contacter</h5>
            <p> <p>&copy; ABC_Legermain, Inc. Contactez nous.</p></p>
            <p>

            <a class="social-icon mx-1" data-tooltip="email@gmail.com" href="mailto:email@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>

            <a class="social-icon mx-1" data-tooltip="GitHub" href="https://github.com/puikinsh">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>

            <a class="social-icon mx-1" data-tooltip="LinkedIn" href="https://www.linkedin.com/company/colorlib">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>

            <a class="social-icon mx-1" data-tooltip="Twitter" href="https://twitter.com/colorlib">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>

            <a class="social-icon mx-1" data-tooltip="Facebook" href="https://www.facebook.com/colorlib">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>

            <a class="social-icon mx-1" data-tooltip="YouTube" href="https://www.youtube.com/c/Colorlib">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a class="social-icon mx-1" data-tooltip="YouTube" href="https://instagram.com/Colorlib">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>

        </div>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <p>Développé par : Adam Diakité, Delal Seletli, Christian Mada-Mbari et Sidney Sargent</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
</body>

</html>